{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true
  },
  "root": true,
  "settings": {
      "import/parsers": {
        "typescript-eslint-parser": [".ts", ".tsx"]
      },
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "no-new": 1,
    "class-methods-use-this": 1
  }
}
